<div class="admin-disputes" ng-controller="AdminDisputesController">
  <h2 class="text-xl font-bold mb-4">Disputes</h2>

  <table class="table-auto w-full border">
    <thead>
      <tr class="bg-gray-100">
        <th class="p-2 border">ID</th>
        <th class="p-2 border">Challenge</th>
        <th class="p-2 border">User</th>
        <th class="p-2 border">Reason</th>
        <th class="p-2 border">Status</th>
        <th class="p-2 border">Admin Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="d in disputes">
        <td class="p-2 border">{{ d.id }}</td>
        <td class="p-2 border">{{ d.challenge_title }}</td>
        <td class="p-2 border">{{ d.submitted_by }}</td>
        <td class="p-2 border">{{ d.reason }}</td>
        <td class="p-2 border">{{ d.status }}</td>
        <td class="p-2 border">{{ d.admin_comment || '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>
